@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
--brand: 172, 67%, 45%;
--dark: 183, 100%, 5%;
--text: 183, 100%, 15%;
--neutral1: 186, 14%, 43%;
--neutral2: 184, 14%, 56%;
--neutral3: 185, 41%, 84%;
--neutral4: 189, 41%, 97%;
--white: 179, 41%, 99%;

--padding: clamp(2rem, 4vw, 3.5rem);
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  background-color: hsl(var(--neutral3));
}  

.wrapper {
  display: grid;
  place-items: center;
  gap: 3rem;
}

.container {
  padding: var(--padding);
  background-color:  hsl(var(--white));
  border-radius: 2rem;
  box-shadow: 0 4rem 5rem hsl(var(--neutral2) / .5);
  display: grid;
  grid-auto-flow: column;
  gap: clamp(2rem, 5vw, 4rem);
}

.display {
  background-color: hsl(var(--text));
  padding: var(--padding);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-group {
  display: grid;
  gap: var(--padding);
}

.display-row {
  display: flex;
  justify-content: space-between;
  gap: var(--padding);
  align-items: center;
  text-align: left;
}

.display-label {
  display: grid;
  justify-items: start;
}

.header {
  color: hsl(var(--neutral4));
  font-size: 1rem;
}

.unit {
  color: hsl(var(--neutral2));
  font-size: .8em;
}

.display-amt {
  font-size: 2.5rem;
  color: hsl(var(--brand));
}

.btn {
  font: inherit;
  background-color: hsl(var(--brand));
  color: hsl(var(--text));
  border: none;
  border-radius: .2rem;
  padding: .3rem .8rem;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 
  0 .2rem 2rem hsl(var(--dark / .6)),
  0 0 0 -.2rem hsl(var(--text)),
  0 0 0 -.2rem hsl(var(--neutral1));
  transition: box-shadow 400ms cubic-bezier(0.075, 0.82,.0165, 1);
}

.btn[disabled] {
  opacity: .2;  
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}

.btn:not([disabled]):hover {
  box-shadow: 
  0 0 0 hsl(var(--dark / .6)),
  0 0 0 -.2rem hsl(var(--text)),
  0 0 0 -.2rem hsl(var(--brand));
  background-color: hsl(var(--neutral3));
}

.btn:focus-visible {
  box-shadow: 
  0 .2rem 2rem hsl(var(--dark / .6)),
  0 0 0 .2rem hsl(var(--text)),
  0 0 0 .5rem hsl(var(--brand));
}